<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Port schedule</title>
  <link rel="stylesheet" th:href="@{/css/sort.css}" href="css/sort.css">
<!--  <link rel="stylesheet" th:href="@{/css/style.css}" href="static/css/style.css" type="text/css">-->
  <script src="webjars/jquery/3.3.1/jquery.min.js"></script>
  <script src="/js/order.js"></script>
</head>
<body style="background: lightblue">
<nav>
  <ul class="top-menu">
    <li><a th:href="@{/}" href="index.html">Schedule</a></li>
    <li><a th:href="@{/sailed}" href="sailed.html">Sailed vessels</a> </li>
  </ul>
</nav>
<p><strong><a th:href="@{/schedule}" href="schedule.html">Logg in</a> to see more options</strong></p>
<p style="text-align:center"><strong>VESSELS SCHEDULE OF PORT SABETTA:</strong></p>

<table style="background: white" class="schedule" th:width="1350" th:border="black" th:align="center">
  <thead style="background: lightgray">
  <tr>
    <th>VESSEL NAME</th>
    <th>CARGO</th>
    <th>ETA</th>
    <th>ETB</th>
    <th>ETD</th>
    <th>STATUS</th>
  </tr>
  </thead>
  <tbody th:align="center">
  <tr th:each="portcall: ${schedule.data}">
    <td th:text="${portcall.vesselName}">vesselName</td>
    <td th:text="${portcall.cargo}">cargo</td>
    <td th:text="${portcall.eta}">eta</td>
    <td th:text="${portcall.etb}">etb</td>
    <td th:text="${portcall.etd}">etd</td>
    <td th:text="${portcall.status}">status</td>
  </tr>
  </tbody>
</table>
</body>
</html>